<!DOCTYPE html>
<html>
  <head>
    <title>BlocipediaRails</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale-1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
     <div class="pull-left">
       <%= link_to "Home", root_path, class: 'pull-left' %>
     </div>
     <%= yield %>
   </div>
  </body>
</html>
